.login {
  text-align: center;
  background-color: rgba(1, 144, 201, 0.014);
  padding: 8rem;
}
.item-header {
  display: flex;
}
.item-header {
  justify-content: space-between;
}

.dash-container {
  display: flex;
  margin: auto;
  flex-flow: wrap;
  margin-top: 0rem;
  transition: all 0.5s;
}

#titleD {
  flex: 1 100%;
  margin: 2rem;
}

.dash-item {
  height: 20rem;
  width: 100%;
  margin: 0.2rem;
  padding: 0rem 2rem;
  border: 1px solid;
  margin-bottom: 3rem;
}

.dash {
  display: flex;
  flex-direction: column;
}

.dash-menu {
  margin: 0.5rem;

  padding: 0rem 1rem;
  min-width: 20%;
}
.link {
  color: rgb(43, 158, 253);
  text-align: left;
}
#navMenu {
  display: none;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
}
.sidebar {
  background-color: #eaeef4;

  width: 25vh;
}

.sidebar * {
  margin: 1.5rem 2rem;
  font-size: 1.2rem;
  color: rgb(49, 49, 49);
}
@media screen and (max-width: 897px) {
  .accounting {
    flex-flow: wrap;
    border: 10px solid;
  }
  .acc-container {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

  .dash-menu {
    margin-top: 4em;
  }
  .app {
    display: flex;
    flex-direction: column;
  }
  #navMenu {
    display: block;
  }

  .sidebar * {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    order: 0;
    width: 100%;
    flex: 1 100%;
    transition: all 0.4s;
    transition-delay: 0.1s;
  }

  .dash {
    margin: 1.2rem;
    transform: scale(0.9);
    transform-origin: top left;
  }
}

@media screen and (min-width: 952px) {
  .sidebar {
    width: 25vh;
    transition: all 0.2s;
  }

  #navMenu {
    display: none;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.sidemenu p {
  margin-top: 3rem;
}

select {
  text-align: center;
  text-align-last: center;
}

#landingContent {
  display: flex;
  padding: 5;
  justify-content: center;
  margin: 2rem;
}

.flex-item {
  padding: 0rem 1rem;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem;
  border-style: none;
  width: 10rem;
  height: 3rem;
}
.flex-start {
  align-self: flex-start;
}

.flex-end {
  margin-right: auto;
}

.landingItem p {
  background-color: white;
  padding: 2rem;
}
.landingItem {
  flex-direction: column;
  text-align: center;
  min-width: 20rem;
  font-size: 0.8rem;
  padding: 1em;
  max-width: 20rem;
  margin: -4rem 5rem 0rem;
}
.sidemenu {
  background-color: rgb(241, 239, 239);
  border-radius: 0.2rem;
  text-align: center;
  margin: 1rem;
  width: 500px;
  align-items: stretch;
  flex-direction: column;
}
#landing img {
  opacity: 0.4;
}
#landing {
  padding: 17rem;
  color: white;

  background-image: url("http://res.cloudinary.com/simpleview/image/upload/v1454415126/clients/norway/Hamnoy_Lofoten_Norway_2_1_c0cf6de8-5b60-4571-b481-9729fab41d96.jpg");
  background-color: rgb(72, 167, 255);
  display: flex;
  justify-content: center;
}

.nav p:hover {
  text-decoration: bold;
  transition: 0.3s;
  transform: scale(1.2);
}
.frontpage {
  margin: 1rem;
  width: 100%;
}
.nav {
  display: flex;
  flex-flow: row;
  color: white;
  background-color: rgb(51, 126, 177);
  padding: 1rem;
}

body {
  height: 100vh;
}

.nav * {
  margin: 1.3rem;
}

::placeholder {
  padding-left: 0.1rem;
  color: grey;
}
.nav input {
  padding-left: 1.2rem;
  color: white;
  border-style: none;

  width: 40%;
  border-radius: 2rem;
  height: 3.4vh;
  margin: 1rem;
  background-color: rgba(207, 207, 207, 0.445);
}
.login input {
  border-style: 1px red;
  margin: 1rem;
  padding: 2rem;
}

.button {
  border-style: none;
  width: 10rem;
  height: 3.5rem;
}
