.product-manager {
  display: flex;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-top: none;
  border-left: 1px solid;

  width: 100%;
}

button {
  border-style: none;
}
.product-header {
  display: flex;
  border: 1px solid;
  align-items: baseline;
  justify-content: space-between;
  background-color: #ebeff3;
  align-items: center;
  height: 2rem;
}
.product-create {
  border: 1px solid;
  border-top: none;
  border-radius: 0.2rem;
  border-right: none;
  display: flex;
  flex-direction: column;
  background-color: #ebeff3;
  padding-top: 3rem;
}

.product-item {
  height: 3.5rem;
  width: 20rem;
}

.header-item {
  padding: 0.2rem 1rem;
}
.right-header {
  margin: 0em 2rem;
}

.product-container div {
  border-color: rgba(10, 10, 10, 0.137);
}

.product-content {
  display: flex;
  height: 100vh;
}

.product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 10rem;
  border-color: blue;
}
input {
  color: black;
  border-style: thin;
}
.search {
  width: 50hv;
}
